.msdeck-table-container {
  max-height: 25vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  overscroll-behavior: contain;
}

.msdeck-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.msdeck-thead-sticky {
  position: sticky;
  top: 0;
  background-color: #444;
  color: white;
  z-index: 1;
}

.msdeck-table th,
.msdeck-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.msdeck-table th {
  text-align: left;
}

.msdeck-table th:first-child {
  text-align: center;
}

.msdeck-table tr {
  cursor: pointer;
}

.msdeck-table tr.selected {
  background-color: #007bff;
  color: white;
}

.msdeck-navigation {
  text-align: center;
  margin: 10px 0;
}

.msdeck-navigation button {
  margin: 0 5px;
}