.MapContainer {
  height: calc(100% + 20px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.MapContainerSettings {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
}

.MapContainerSettings label {
  margin-left: 10px;
  margin-right: 5px;
}

.MapContainerSettings input {
  width: 50px;
}