.MapContainer {
  height: 100%;
  overflow: auto;
}

.MapContainerSettings {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MapContainerSettings label {
  margin-left: 10px;
  margin-right: 5px;
}

.MapContainerSettings input {
  width: 50px;
}