.plot-PlotSheet {
  display: inline-block;
  color: black;
  width: 210mm;
  height: 297mm;
  background-color: white;
  padding: 5mm;
}

.plot-PlotSheet table input {
  border: none;
  padding: 0;
  margin: 0;
}

.plot-PlotSheet table th,
.plot-PlotSheet table td {
  padding: 2px 5px;
  border: solid 1px black;
  width: 100px;
}

.plot-tables-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.plot-pilot-table-container,
.plot-weapon-table-container {
  overflow-x: auto;
}

.plot-pilot-table-container td {
  text-align: left;
}

.plot-pilot-table,
.plot-weapon-table {
  width: 100%;
  max-width: 400px;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 10px;
}

.plot-pilot-table th,
.plot-weapon-table th {
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  font-size: 10px;
  background-color: #f0f0f0;
  color: black;
  white-space: nowrap;
}

.plot-weapon-table th {
  text-align: center;
}

.plot-pilot-table th {
  border-right: 2px solid #ccc;
  width: 40%;
}

.plot-pilot-table tbody tr,
.plot-weapon-table tbody tr {
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s;
}

.plot-pilot-table tbody tr:hover,
.plot-weapon-table tbody tr:hover {
  background-color: #f5f5f5;
}

.plot-pilot-table td,
.plot-weapon-table td {
  color: black;
}

.plot-pilot-table td {
  width: 60%;
}

.plot-pilot-table tbody tr:last-child,
.plot-weapon-table tbody tr:last-child {
  border-bottom: none;
}

.plot-action-table-container {
  margin-top: 30px;
  overflow-x: auto;
}

.plot-action-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  border: solid 1px black;
}

.plot-action-table th {
  padding: 8px 4px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  background-color: #f0f0f0;
  color: black;
  white-space: normal;
}

.plot-action-table td {
  padding: 2px 2px !important;
  color: black;
}

.plot-action-table tbody tr:last-child {
  border-bottom: none;
}
