.briefing-room {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.briefing-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.briefing-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
